//variables
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

//code
.genere-container{
    height: 100vh;
    width: 100vw;
    background: url(../images/title-background.png);
    background-repeat: no-repeat;
}

.genere-title-container{
    height: 10vh;
    width: 100vw;
    color: white;
    @include flex-center();
    font-family: 'Henny Penny', cursive;
}

.cards-container{
    height: 90vh;
    width: 100%;
    @include flex-center();
    flex-wrap: wrap;
    gap: 2rem

}

.genere-card{
    width: 250px;
    height: 250px;
    box-shadow: 5px 5px 2.5px 0px rgba(0,0,0,0.75);
   
}

.genere-card-interior{
    height: 80%;
    width: 100%;
    background: hsl(0,  0%, 90%);
    @include flex-center();
}

.genere-card-button{
    background: #3D85C6;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    fill: white;
    position: relative;
    
}

.genere-para{
    margin: 0rem 1rem;
    overflow: hidden;
}

h5:first-child {
    padding-left: 0.5rem;
    cursor: pointer;
}

.click-me {
    position: absolute;
    top: 32%;
    padding-left: 1rem;
}

@media only screen and (max-width: 530px){
    .cards-container{
        padding-bottom: 3rem;
        height: 250vh
    }
}