@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.science-title-container,
.maths-title-container,
.general-title-container,
.nature-title-container,
.geography-title-container,
.games-title-container{
width: 100vw;
height: 40vh;
background: url(../images/title-background.png);
display: flex;
justify-content: center;
padding-top: 3rem;
position: relative;
color: white;
font-family: 'Henny Penny', cursive;
}

.science-card-container,
.maths-card-container,
.general-card-container,
.nature-card-container,
.geography-card-container,
.games-card-container{
    position: absolute;
    top: 30%;
    width: 100vw;
    height: 60vh;
    display: flex;
justify-content: center;
align-items: flex-start;
}

.science-card,
.maths-card,
.general-card,
.nature-card,
.geography-card,
.games-card{
    height: 50vh;
    width: 50vw;
    border: none;
    background: #eeeeee;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.science-question,
.maths-question,
.general-question,
.nature-question,
.geography-question,
.games-question{
    width: 100%;
    height: 60%;
    background: #eeeeee;
    @include flex-center();
    padding: 0rem 2rem;
    font-size: xx-large;
}

.science-answer-half,
.science-answer-second-half,
.maths-answer-half,
.maths-answer-second-half,
.general-answer-half,
.general-answer-second-half,
.nature-answer-half,
.nature-answer-second-half,
.geography-answer-half,
.geography-answer-second-half,
.games-answer-half,
.games-answer-second-half
{
    width: 50%;
    height: 100%;
    @include flex-column();
    gap: 1rem;
    background: #3D85C6;
    color: white;

}



.science-answers,
.maths-answers,
.general-answers,
.nature-answers,
.geography-answers,
.games-answers{
width: 80%;
height: 40%;
@include flex-center();
border: none;
font-size: large;
color: black;
background: white;
box-shadow: 5px 5px 2.5px 0px rgba(0,0,0,0.75);
cursor: pointer;
}

.answer-container{
    width: 100%;
    height: 40%;
    display: flex;
}