.genere-container {
  height: 100vh;
  width: 100vw;
  background: url(../images/title-background.png);
  background-repeat: no-repeat;
}

.genere-title-container {
  height: 10vh;
  width: 100vw;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Henny Penny', cursive;
}

.cards-container {
  height: 90vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.genere-card {
  width: 250px;
  height: 250px;
  -webkit-box-shadow: 5px 5px 2.5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 2.5px 0px rgba(0, 0, 0, 0.75);
}

.genere-card-interior {
  height: 80%;
  width: 100%;
  background: #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.genere-card-button {
  background: #3D85C6;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
  fill: white;
  position: relative;
}

.genere-para {
  margin: 0rem 1rem;
  overflow: hidden;
}

h5:first-child {
  padding-left: 0.5rem;
  cursor: pointer;
}

.click-me {
  position: absolute;
  top: 32%;
  padding-left: 1rem;
}

@media only screen and (max-width: 530px) {
  .cards-container {
    padding-bottom: 3rem;
    height: 250vh;
  }
}

.score-and-title {
  position: absolute;
  top: 20%;
}

.science-title-container,
.maths-title-container,
.general-title-container,
.nature-title-container,
.geography-title-container,
.games-title-container {
  width: 100vw;
  height: 40vh;
  background: url(../images/title-background.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3rem;
  color: white;
  font-family: 'Henny Penny', cursive;
  position: relative;
}

.science-card-container,
.maths-card-container,
.general-card-container,
.nature-card-container,
.geography-card-container,
.games-card-container {
  position: absolute;
  top: 30%;
  width: 100vw;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.science-card,
.maths-card,
.general-card,
.nature-card,
.geography-card,
.games-card {
  height: 50vh;
  width: 50vw;
  border: none;
  background: #eeeeee;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.science-question,
.maths-question,
.general-question,
.nature-question,
.geography-question,
.games-question {
  width: 100%;
  height: 60%;
  background: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem 2rem;
  font-size: 1.5rem;
}

.science-answer-half,
.science-answer-second-half,
.maths-answer-half,
.maths-answer-second-half,
.general-answer-half,
.general-answer-second-half,
.nature-answer-half,
.nature-answer-second-half,
.geography-answer-half,
.geography-answer-second-half,
.games-answer-half,
.games-answer-second-half {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  background: #3D85C6;
  color: white;
}

.science-answers,
.maths-answers,
.general-answers,
.nature-answers,
.geography-answers,
.games-answers {
  width: 80%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  font-size: large;
  color: black;
  background: white;
  -webkit-box-shadow: 5px 5px 2.5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 2.5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.answer-container {
  width: 100%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 530px) {
  .science-question,
  .maths-question,
  .general-question,
  .nature-question,
  .geography-question,
  .games-question {
    font-size: 1rem;
  }
  .science-answers,
  .maths-answers,
  .general-answers,
  .nature-answers,
  .geography-answers,
  .games-answers {
    font-size: 0.8rem;
  }
  .science-card,
  .maths-card,
  .general-card,
  .nature-card,
  .geography-card,
  .games-card {
    width: 75vw;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background: #FEBC2A;
  font-family: 'Montserrat', sans-serif;
}

.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vh;
  width: 100vw;
  font-family: 'Henny Penny', cursive;
  background: url(../images/title-background.png);
  background-position: center;
  background-size: cover;
}

.title-container > h1 {
  color: white;
}

.start-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 60vh;
  position: relative;
}

.start-card {
  min-width: 30%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  background: #eeeeee;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/main-background.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/main-background.jpg);
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.start-card > h3 {
  position: absolute;
  top: 30%;
  padding: 1rem 2rem;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.start-button {
  height: 15%;
  background: #3D85C6;
  width: 100%;
  text-align: center;
  padding: 0.7rem 0.75rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
}

.start-button > svg {
  fill: white;
}

.hide {
  display: none;
  pointer-events: none;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 900px) {
  .start-card {
    max-width: 20%;
  }
  .title-container {
    height: 40vh;
  }
  .start-container {
    position: absolute;
    top: 30%;
  }
}

@media only screen and (max-width: 530px) {
  .start-card > h3 {
    font-size: 14px;
  }
  .title-container > h1 {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */